In [3]:
import pandas as pd

In [4]:
df=pd.read_excel("Sample - Superstore.xls")
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [5]:
# Question 1: Find total number of orders in the dataset.
df['Order ID'].unique()

array(['CA-2016-152156', 'CA-2016-138688', 'US-2015-108966', ...,
       'CA-2014-110422', 'CA-2017-121258', 'CA-2017-119914'],
      shape=(5009,), dtype=object)

In [6]:
# Question 2: Find the earliest order date.
df['Order Date'].min()

Timestamp('2014-01-03 00:00:00')

In [7]:
# Question 3: Find the latest order date.
df['Order Date'].max()

Timestamp('2017-12-30 00:00:00')

In [8]:
#Question 4: Find the total number of unique customers.
df['Customer ID'].nunique()

793

In [9]:
#Question 5: Find the total number of unique products sold.
df['Product ID'].nunique()

1862

In [10]:

#Question 6: Find the total number of unique categories.
df['Category'].nunique()

3

In [11]:
#Question 7: Find the total number of unique sub-categories.
df['Sub-Category'].value_counts()

Sub-Category
Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: count, dtype: int64

In [12]:
#Question 8: Count number of orders in each region.
df['Region'].value_counts()

Region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

In [13]:
# Question 9: Count number of orders by state.
df['State'].value_counts()

State
California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Missouri                  66
Oklahoma                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
South Carolina            42
Louisiana                 42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64

In [14]:
#Question 10: Count number of orders by city.
df['City'].value_counts()

City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Abilene            1
Montebello         1
Kissimmee          1
Danbury            1
Springdale         1
Name: count, Length: 531, dtype: int64

In [15]:
# Question 11: Find the most common ship mode.
df['Ship Mode'].mode()

0    Standard Class
Name: Ship Mode, dtype: object

In [16]:
df['Ship Mode'].max()

'Standard Class'

In [17]:
#Question 12: Find the least common ship mode.
df['Ship Mode'].min()

'First Class'

In [18]:
#Question 13: Count number of orders shipped with "Same Day" mode.
df['Ship Mode'].value_counts()['Same Day']

np.int64(543)

In [19]:
#Question 13:Count number of orders shipped with "First Class".
df['Ship Mode'].value_counts()

Ship Mode
Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
Name: count, dtype: int64

In [20]:
#Question 13:Count number of orders shipped with "First Class".
df['Ship Mode'].value_counts()['First Class']

np.int64(1538)

In [21]:
#Question 15: Count number of orders shipped with "Second Class".
df['Ship Mode'].value_counts()['Second Class']

np.int64(1945)

In [22]:
#Question 16: Count number of orders shipped with "Standard Class"
df['Ship Mode'].value_counts()['Standard Class']

np.int64(5968)

In [23]:
#Question 17: Find number of orders in each year.
df['Order Date'].dt.year.value_counts()

Order Date
2017    3312
2016    2587
2015    2102
2014    1993
Name: count, dtype: int64

In [24]:
#Question 18: Find number of orders in each quarter.
df['Order Date'].dt.quarter.value_counts()

Order Date
4    3698
3    2799
2    2120
1    1377
Name: count, dtype: int64

In [25]:
#Question 19: Find number of orders in each month
df['Order Date'].dt.month.value_counts()

Order Date
11    1471
12    1408
9     1383
10     819
5      735
6      717
7      710
8      706
3      696
4      668
1      381
2      300
Name: count, dtype: int64

In [26]:
#Question 20: Find number of orders in each weekday.
df['Order Date'].dt.day_name().value_counts()

Order Date
Monday       1871
Friday       1818
Sunday       1710
Saturday     1655
Thursday     1463
Tuesday      1106
Wednesday     371
Name: count, dtype: int64

In [27]:
#Question 21: Count orders with discount applied.
df['Discount'].apply(lambda x:x>0).sum()

np.int64(5196)

In [28]:
#Question 22: Count orders without discount.
df['Discount'].apply(lambda x:x==0).sum()

np.int64(4798)

In [29]:
#Question 23: Count orders where discount = 0.
df['Discount'].apply(lambda x:x==0).sum()

np.int64(4798)

In [30]:
#Question 24: Count orders where discount > 0.2.
df['Discount'].apply(lambda x:x>0.2).sum()

np.int64(1393)

In [31]:
#Question 25: Count orders where discount = 0.5.
df['Discount'].apply(lambda x:x==0.5).sum()

np.int64(66)

In [32]:
#Question 26: Find maximum discount given.
df['Discount'].max()

np.float64(0.8)

In [33]:
#Question 27: Find minimum discount given.
df['Discount'].min()

np.float64(0.0)

In [34]:
#Question 28: Count orders where profit < 0.
df['Profit'].apply(lambda x:x< 0).sum()

np.int64(1871)

In [35]:
#Question 29: Count orders where profit = 0.
df['Profit'].apply(lambda x:x==0).sum()

np.int64(65)

In [36]:
#Question 30: Count orders where profit > 100.
df['Profit'].apply(lambda x:x>100).sum()

np.int64(890)

In [37]:
#Question 31: Count orders where sales > 1000.
df['Sales'].apply(lambda x:x>1000).sum()

np.int64(468)

In [38]:
# Question 32:Find total quantity sold.
df['Quantity'].sum()

np.int64(37873)

In [39]:
# Question 33: Find average quantity per order.
df['Quantity'].sum() / df['Order ID'].nunique()

np.float64(7.560990217608305)

In [40]:
# Question 34: Find average sales per order.
df['Sales'].sum() / df['Order ID'].nunique()

np.float64(458.61466566180883)

In [41]:
# Question 35: Find average profit per order.
df['Profit'].sum() / df['Order ID'].nunique()

np.float64(57.17648666400478)

In [42]:
# Question 36: Find maximum sales in a single order.
df['Sales'].max()

np.float64(22638.48)

In [43]:
# Question 37: Find minimum sales in a single order.
df['Sales'].min()

np.float64(0.44399999999999995)

In [44]:
# Question 38: Find maximum profit in a single order.
df['Profit'].max()

np.float64(8399.975999999999)

In [45]:
# Question 39: Find minimum profit in a single order.
df['Profit'].min()

np.float64(-6599.978000000001)

In [46]:
# Question 40: Find number of orders per customer.
df['Order ID'].nunique()/df['Customer ID'].nunique()

6.316519546027743

In [47]:
# Question 41: Find customers who placed only 1 order.
df.groupby('Customer ID')

In [48]:
# Question 42: Find customers who placed more than 10 orders.

In [49]:
# Question 43: Find total number of states represented.
df['State'].nunique()

49

In [50]:
# Question 44: Find total number of cities represented.
df['City'].nunique()

531

In [51]:
# Question 45: Find number of orders placed from California.
df[df['State']=='California']['Order ID'].nunique()

1021

In [52]:
# Question 46: Find number of orders placed from New York.
df[df['State']=='New York']['Order ID'].nunique()

562

In [53]:
# Question 47: Find number of orders placed from Texas.
df[df['State']=='Texas']['Order ID'].nunique()

487

In [54]:
# Question 48: Find number of orders placed from Florida.
df[df['State']=='Florida']['Order ID'].nunique()

200

In [55]:
# Question 49: Find number of orders shipped after 5 days of order.

In [56]:
# Question 50: Find average shipping time in days.

Sales & Profit Analysis (Questions 51-100)

In [57]:
#Question 51: Find total sales.
df['Sales'].sum

<bound method Series.sum of 0       261.9600
1       731.9400
2        14.6200
3       957.5775
4        22.3680
          ...
9989     25.2480
9990     91.9600
9991    258.5760
9992     29.6000
9993    243.1600
Name: Sales, Length: 9994, dtype: float64>

In [58]:
#Question 52: Find total profit.
df['Profit'].sum()

np.float64(286397.0216999999)

In [59]:
# Question 53: Find average sales per order.
df.groupby('Order ID')['Sales'].sum().mean()

np.float64(458.61466566180883)

In [60]:
# Question 54: Find average profit per order.
df.groupby('Order ID')['Profit'].sum().mean()

np.float64(57.17648666400478)

In [61]:
# Question 55: Find sales by category.
df.groupby("Category")['Sales'].sum()

Category
Furniture          741999.7953
Office Supplies    719047.0320
Technology         836154.0330
Name: Sales, dtype: float64

In [62]:
# Question 56: Find profit by category.
df.groupby("Category")['Profit'].sum()

Category
Furniture           18451.2728
Office Supplies    122490.8008
Technology         145454.9481
Name: Profit, dtype: float64

In [63]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [64]:
# Question 57: Find sales by sub-category.
df.groupby('Sub-Category')['Sales'].sum()

Sub-Category
Accessories    167380.3180
Appliances     107532.1610
Art             27118.7920
Binders        203412.7330
Bookcases      114879.9963
Chairs         328449.1030
Copiers        149528.0300
Envelopes       16476.4020
Fasteners        3024.2800
Furnishings     91705.1640
Labels          12486.3120
Machines       189238.6310
Paper           78479.2060
Phones         330007.0540
Storage        223843.6080
Supplies        46673.5380
Tables         206965.5320
Name: Sales, dtype: float64

In [65]:
# Question 58: Find profit by sub-category.
df.groupby('Sub-Category')['Profit'].sum()

Sub-Category
Accessories    41936.6357
Appliances     18138.0054
Art             6527.7870
Binders        30221.7633
Bookcases      -3472.5560
Chairs         26590.1663
Copiers        55617.8249
Envelopes       6964.1767
Fasteners        949.5182
Furnishings    13059.1436
Labels          5546.2540
Machines        3384.7569
Paper          34053.5693
Phones         44515.7306
Storage        21278.8264
Supplies       -1189.0995
Tables        -17725.4811
Name: Profit, dtype: float64

In [66]:
# Question 59: Find highest sales category.
df.groupby('Category')['Sales'].sum().idxmax()

'Technology'

In [67]:
# Question 60: Find highest profit category.
df.groupby('Category')['Profit'].sum().idxmax()

'Technology'

In [68]:
#Question 61: Find lowest profit category.
df.groupby('Category')['Profit'].sum().idxmin()

'Furniture'

In [69]:
# Question 62: Find lowest sales sub-category
df.groupby('Sub-Category')['Sales'].sum().idxmin()

'Fasteners'

In [70]:
#Question 63: Find highest profit sub-category.
df.groupby('Sub-Category')['Profit'].sum().idxmax()

'Copiers'

In [71]:
#Question 64: Find lowest profit sub-category.
df.groupby('Sub-Category')['Profit'].sum().idxmin()

'Tables'

In [72]:
#Question 65: Find top 10 profitable products.
Top_10=df.groupby('Product Name')['Profit'].sum()
Top_10.head(10)

Product Name
"While you Were Out" Message Book, One Form per Page                                         10.3880
#10 Gummed Flap White Envelopes, 100/Box                                                     16.7678
#10 Self-Seal White Envelopes                                                                52.1230
#10 White Business Envelopes,4 1/8 x 9 1/2                                                  223.1408
#10- 4 1/8" x 9 1/2" Recycled Envelopes                                                     115.2806
#10- 4 1/8" x 9 1/2" Security-Tint Envelopes                                                 64.8636
#10-4 1/8" x 9 1/2" Premium Diagonal Seam Envelopes                                          63.7470
#6 3/4 Gummed Flap White Envelopes                                                           24.9480
1.7 Cubic Foot Compact "Cube" Office Refrigerators                                          578.6848
1/4 Fold Party Design Invitations & White Envelopes, 24 8-1/2" X 11" Cards, 25 Env./Pack     22.7115
Name: Profit, dtype: float64

In [73]:
# Question 66: Find top 10 least profitable products.
df.groupby("Product Name")["Profit"].sum().sort_values(ascending=True).head(10)

Product Name
Cubify CubeX 3D Printer Double Head Print                           -8879.9704
Lexmark MX611dhe Monochrome Laser Printer                           -4589.9730
Cubify CubeX 3D Printer Triple Head Print                           -3839.9904
Chromcraft Bull-Nose Wood Oval Conference Tables & Bases            -2876.1156
Bush Advantage Collection Racetrack Conference Table                -1934.3976
GBC DocuBind P400 Electric Binding System                           -1878.1662
Cisco TelePresence System EX90 Videoconferencing Unit               -1811.0784
Martin Yale Chadless Opener Electric Letter Opener                  -1299.1836
Balt Solid Wood Round Tables                                        -1201.0581
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables   -1148.4375
Name: Profit, dtype: float64

In [74]:
# Question 67: Find top 10 best-selling products by sales.
df.groupby("Product Name")["Sales"].sum().sort_values(ascending=False).head(10)

Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
GBC Ibimaster 500 Manual ProClick Binding System                               19024.500
Hewlett Packard LaserJet 3310 Copier                                           18839.686
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      18374.895
GBC DocuBind P400 Electric Binding System                                      17965.068
High Speed Automatic Electric Letter Opener                                    17030.312
Name: Sales, dtype: float64

In [75]:
# Question 68: Find top 10 best-selling products by quantity.
df.groupby("Product Name")["Quantity"].sum().sort_values(ascending=False).head(10)

Product Name
Staples                                                       215
Staple envelope                                               170
Easy-staple paper                                             150
Staples in misc. colors                                        86
KI Adjustable-Height Table                                     74
Storex Dura Pro Binders                                        71
Avery Non-Stick Binders                                        71
GBC Premium Transparent Covers with Diagonal Lined Pattern     67
Situations Contoured Folding Chairs, 4/Set                     64
Staple-based wall hangings                                     62
Name: Quantity, dtype: int64

In [76]:
# Question 69: Find bottom 10 products by sales.
df.groupby("Product Name")["Sales"].sum().sort_values(ascending=True).head(10)

Product Name
Eureka Disposable Bags for Sanitaire Vibra Groomer I Upright Vac    1.624
Avery 5                                                             5.760
Xerox 20                                                            6.480
Grip Seal Envelopes                                                 7.072
Avery Hi-Liter Pen Style Six-Color Fluorescent Set                  7.700
Avery Hi-Liter Comfort Grip Fluorescent Highlighter, Yellow Ink     7.800
Xerox 1989                                                          7.968
4009 Highlighters                                                   8.040
Stockwell Gold Paper Clips                                          8.096
Newell 308                                                          8.400
Name: Sales, dtype: float64

In [77]:
# Question 70: Find bottom 10 products by profit.
df.groupby("Product Name")["Profit"].sum().sort_values(ascending=False).tail(10)

Product Name
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables   -1148.4375
Balt Solid Wood Round Tables                                        -1201.0581
Martin Yale Chadless Opener Electric Letter Opener                  -1299.1836
Cisco TelePresence System EX90 Videoconferencing Unit               -1811.0784
GBC DocuBind P400 Electric Binding System                           -1878.1662
Bush Advantage Collection Racetrack Conference Table                -1934.3976
Chromcraft Bull-Nose Wood Oval Conference Tables & Bases            -2876.1156
Cubify CubeX 3D Printer Triple Head Print                           -3839.9904
Lexmark MX611dhe Monochrome Laser Printer                           -4589.9730
Cubify CubeX 3D Printer Double Head Print                           -8879.9704
Name: Profit, dtype: float64

In [78]:
# Question 71: Find total sales by year.
df.groupby(df['Order Date'].dt.year)['Sales'].sum()

Order Date
2014    484247.4981
2015    470532.5090
2016    609205.5980
2017    733215.2552
Name: Sales, dtype: float64

In [79]:
# Question 72: Find total profit by year.
df.groupby(df['Order Date'].dt.year)['Profit'].sum()

Order Date
2014    49543.9741
2015    61618.6037
2016    81795.1743
2017    93439.2696
Name: Profit, dtype: float64

In [80]:
# Question 75: Find sales by quarter.
df.groupby(df['Order Date'].dt.quarter)['Sales'].sum()

Order Date
1    359681.5758
2    445509.6196
3    613932.1057
4    878077.5592
Name: Sales, dtype: float64

In [81]:
# Question 76: Find profit by quarter.
df.groupby(df['Order Date'].dt.quarter)['Profit'].sum()

Order Date
1     48023.7440
2     55284.5395
3     72467.0785
4    110621.6597
Name: Profit, dtype: float64

In [82]:
# Question 77: Find sales by month.
df.groupby(df['Order Date'].dt.month_name())['Sales'].sum()

Order Date
April        137762.1286
August       159044.0630
December     325293.5035
February      59751.2514
January       94924.8356
July         147238.0970
June         152718.6793
March        205005.4888
May          155028.8117
November     352461.0710
October      200322.9847
September    307649.9457
Name: Sales, dtype: float64

In [83]:
# Question 78: Find profit by month.
df.groupby(df['Order Date'].dt.month_name())['Profit'].sum()

Order Date
April        11587.4363
August       21776.9384
December     43369.1919
February     10294.6107
January       9134.4461
July         13832.6648
June         21285.7954
March        28594.6872
May          22411.3078
November     35468.4265
October      31784.0413
September    36857.4753
Name: Profit, dtype: float64

In [84]:
# Question 79: Find month with highest sales.
df.groupby(df['Order Date'].dt.month_name())['Sales'].sum().idxmax()

'November'

In [85]:
# Question 80: Find month with highest profit.
df.groupby(df['Order Date'].dt.month_name())['Profit'].sum().idxmax()

'December'

In [86]:
# Question 81: Find month with lowest sales.
df.groupby(df['Order Date'].dt.month_name())['Sales'].sum().idxmin()

'February'

In [87]:
# Question 82: Find month with lowest profit.
df.groupby(df['Order Date'].dt.month_name())['Profit'].sum().idxmin()

'January'

In [88]:
# Question 83: Find total sales by weekday.
df.groupby(df["Order Date"].dt.weekday)['Sales'].sum()

Order Date
0    428937.8157
1    287209.5022
2     88056.9752
3    321965.7785
4    427692.2593
5    357984.6830
6    385353.8464
Name: Sales, dtype: float64

In [89]:
# Question 84: Find total profit by weekday.
df.groupby(df["Order Date"].dt.weekday)['Profit'].sum()

Order Date
0    51511.1146
1    35570.3288
2    14703.8707
3    39683.7512
4    46520.8242
5    41277.6202
6    57129.5120
Name: Profit, dtype: float64

In [90]:
# Question 85: Find weekday with highest sales.
df.groupby(df["Order Date"].dt.day_name())['Sales'].sum().idxmax()

'Monday'

In [91]:
# Question 86: Find weekday with lowest sales.
df.groupby(df["Order Date"].dt.day_name())['Sales'].sum().idxmin()

'Wednesday'

In [92]:
# Question 87: Find weekday with highest profit.
df.groupby(df["Order Date"].dt.day_name())['Profit'].sum().idxmax()

'Sunday'

In [93]:
# Question 88: Find weekday with lowest profit.
df.groupby(df["Order Date"].dt.day_name())['Profit'].sum().idxmin()

'Wednesday'

In [94]:
# Question 89: Find state with highest sales.
df.groupby("State")["Sales"].sum().idxmax()

'California'

In [95]:
# Question 90: Find state with highest profit.
df.groupby("State")["Profit"].sum().idxmax()

'California'

In [96]:
# Question 91: Find state with lowest sales.
df.groupby("State")["Sales"].sum().idxmin()

'North Dakota'

In [97]:
# Question 92: Find state with lowest profit.
df.groupby("State")["Profit"].sum().idxmin()

'Texas'

In [98]:
# Question 93: Find region with highest sales.
df.groupby("Region")["Sales"].sum().idxmax()

'West'

In [99]:
# Question 94: Find region with highest profit.
df.groupby("Region")["Profit"].sum().idxmax()

'West'

In [100]:
# Question 95: Find region with lowest sales.
df.groupby("Region")["Sales"].sum().idxmin()

'South'

In [101]:
# Question 96: Find region with lowest profit.
df.groupby("Region")["Profit"].sum().idxmin()

'Central'

In [102]:
# Question 97: Find average discount overall.
df["Discount"].mean()

np.float64(0.15620272163297977)

In [103]:
# Question 98: Find average discount in each category.
df.groupby("Category")["Discount"].mean()

Category
Furniture          0.173923
Office Supplies    0.157285
Technology         0.132323
Name: Discount, dtype: float64

In [104]:
# Question 99: Find average discount in each sub-category.
df.groupby("Sub-Category")["Discount"].mean()

Sub-Category
Accessories    0.078452
Appliances     0.166524
Art            0.074874
Binders        0.372292
Bookcases      0.211140
Chairs         0.170178
Copiers        0.161765
Envelopes      0.080315
Fasteners      0.082028
Furnishings    0.138349
Labels         0.068681
Machines       0.306087
Paper          0.074891
Phones         0.154556
Storage        0.074704
Supplies       0.076842
Tables         0.261285
Name: Discount, dtype: float64

In [105]:
# Question 100: Compare total sales vs profit across regions.
df.groupby('Region')[['Sales', 'Profit']].sum()

               Sales       Profit
Region
Central  501239.8908   39706.3625
East     678781.2400   91522.7800
South    391721.9050   46749.4303
West     725457.8245  108418.4489

In [106]:
# Question 101: Count customers in each region.
df.groupby("Region")["Customer ID"].nunique()

Region
Central    629
East       674
South      512
West       686
Name: Customer ID, dtype: int64

In [107]:
# Question 102: Count customers in each state.
df.groupby("State")["Customer ID"].nunique()

State
Alabama                  34
Arizona                 100
Arkansas                 27
California              577
Colorado                 75
Connecticut              43
Delaware                 43
District of Columbia      4
Florida                 181
Georgia                  83
Idaho                    11
Illinois                237
Indiana                  70
Iowa                     17
Kansas                   14
Kentucky                 58
Louisiana                21
Maine                     3
Maryland                 45
Massachusetts            62
Michigan                106
Minnesota                42
Mississippi              25
Missouri                 28
Montana                   8
Nebraska                 23
Nevada                   23
New Hampshire            17
New Jersey               61
New Mexico               22
New York                415
North Carolina          122
North Dakota              2
Ohio                    202
Oklahoma                 34
Oregon                   51
Pennsylvania            257
Rhode Island             25
South Carolina           19
South Dakota              5
Tennessee                84
Texas                   370
Utah                     26
Vermont                   5
Virginia                107
Washington              224
West Virginia             2
Wisconsin                52
Wyoming                   1
Name: Customer ID, dtype: int64

In [108]:
# Question 103: Count customers in each city.
df.groupby("City")["Customer ID"].nunique()

City
Aberdeen        1
Abilene         1
Akron          10
Albuquerque     7
Alexandria      6
               ..
Woonsocket      3
Yonkers         6
York            2
Yucaipa         1
Yuma            4
Name: Customer ID, Length: 531, dtype: int64

In [109]:
# Question 104: Find total sales by customer.
df.groupby("Customer ID")["Sales"].sum()

Customer ID
AA-10315    5563.560
AA-10375    1056.390
AA-10480    1790.512
AA-10645    5086.935
AB-10015     886.156
              ...
XP-21865    2374.658
YC-21895    5454.350
YS-21880    6720.444
ZC-21910    8025.707
ZD-21925    1493.944
Name: Sales, Length: 793, dtype: float64

In [110]:
# Question 105: Find total profit by customer.
df.groupby("Customer ID")["Profit"].sum()

Customer ID
AA-10315    -362.8825
AA-10375     277.3824
AA-10480     435.8274
AA-10645     857.8033
AB-10015     129.3465
              ...
XP-21865     621.2300
YC-21895    1305.6290
YS-21880    1778.2923
ZC-21910   -1032.1490
ZD-21925     249.1307
Name: Profit, Length: 793, dtype: float64

In [111]:
# Question 106: Find average sales per customer.
df.groupby("Customer ID")["Sales"].mean()

Customer ID
AA-10315    505.778182
AA-10375     70.426000
AA-10480    149.209333
AA-10645    282.607500
AB-10015    147.692667
               ...
XP-21865     84.809214
YC-21895    681.793750
YS-21880    560.037000
ZC-21910    258.893774
ZD-21925    165.993778
Name: Sales, Length: 793, dtype: float64

In [112]:
# Question 107: Find average profit per customer.
df.groupby("Customer ID")["Profit"].mean()

Customer ID
AA-10315    -32.989318
AA-10375     18.492160
AA-10480     36.318950
AA-10645     47.655739
AB-10015     21.557750
               ...
XP-21865     22.186786
YC-21895    163.203625
YS-21880    148.191025
ZC-21910    -33.295129
ZD-21925     27.681189
Name: Profit, Length: 793, dtype: float64

In [113]:
# Question 108: Find customer with highest sales.
df.groupby("Customer Name")["Sales"].sum().idxmax()

'Sean Miller'

In [114]:
# Question 109: Find customer with highest profit.
df.groupby("Customer Name")["Profit"].sum().idxmax()

'Tamara Chand'

In [115]:
# Question 110: Find customer with lowest sales.
df.groupby("Customer Name")["Sales"].sum().idxmin()

'Thais Sissman'

In [116]:
# Question 111: Find customer with lowest profit.
df.groupby("Customer Name")["Profit"].sum().idxmin()

'Cindy Stewart'

In [117]:
# Question 112: Find customers with negative profit.
df.groupby('Customer Name')['Profit'].sum().loc[lambda x: x < 0]

Customer Name
Aaron Smayling      -253.5746
Adrian Hane           -2.3146
Alan Haines         -378.5509
Alex Avila          -362.8825
Alex Grayson          -5.1371
                      ...
Victoria Pisteka   -1018.7768
Victoria Wilson     -874.6645
Vivek Grady          -52.3330
Vivek Sundaresam    -262.8093
Zuschuss Carroll   -1032.1490
Name: Profit, Length: 155, dtype: float64

In [118]:
# Question 113: Find customers with > 10 orders.
df["Customer Name"].value_counts().loc[lambda x: x >10]

Customer Name
William Brown          37
Matt Abelman           34
John Lee               34
Paul Prost             34
Chloris Kastensmidt    32
                       ..
Carl Weiss             11
Joni Wasserman         11
Toby Braunhardt        11
Hunter Lopez           11
Rob Haberlin           11
Name: count, Length: 462, dtype: int64

In [119]:
# Question 114: Find customers with < 2 orders
df["Customer Name"].value_counts().loc[lambda x: x<2]

Customer Name
Anthony O'Donnell    1
Lela Donovan         1
Jocasta Rupert       1
Carl Jackson         1
Ricardo Emerson      1
Name: count, dtype: int64

In [120]:
# Question 115: Find repeat customers across multiple years.
df.groupby('Customer Name')['Order Date'].apply(lambda x: x.dt.year.nunique()).loc[lambda x: x > 1]

Customer Name
Aaron Bergman         2
Aaron Hawkins         4
Aaron Smayling        3
Adam Bellavance       3
Adam Hart             4
                     ..
Xylona Preis          4
Yana Sorensen         2
Yoseph Carroll        4
Zuschuss Carroll      4
Zuschuss Donatelli    3
Name: Order Date, Length: 772, dtype: int64

In [121]:
# Question 116: Find customers who ordered only once.
df["Customer Name"].value_counts().loc[lambda x: x == 1]

Customer Name
Anthony O'Donnell    1
Lela Donovan         1
Jocasta Rupert       1
Carl Jackson         1
Ricardo Emerson      1
Name: count, dtype: int64

In [122]:
# Question 117: Count customers by segment.
df.groupby("Segment")["Customer ID"].nunique()

Segment
Consumer       409
Corporate      236
Home Office    148
Name: Customer ID, dtype: int64

In [123]:
# Question 118: Find sales by segment.
df.groupby("Segment")["Sales"].nunique()

Segment
Consumer       3780
Corporate      2442
Home Office    1535
Name: Sales, dtype: int64

In [124]:
# Question 119: Find profit by segment.
df.groupby("Segment")["Profit"].nunique()

Segment
Consumer       4366
Corporate      2675
Home Office    1620
Name: Profit, dtype: int64

In [125]:
# Question 120: Find most profitable segment.
df.groupby("Segment")["Profit"].nunique().idxmax()

'Consumer'

In [126]:
# Question 121: Find least profitable segment.
df.groupby("Segment")["Profit"].nunique().idxmin()

'Home Office'

In [127]:
# Question 122: Find most sales-generating segment.
df.groupby("Segment")["Sales"].nunique().idxmax()

'Consumer'

In [128]:
# Question 123: Find least sales-generating segment.
df.groupby("Segment")["Profit"].nunique().idxmin()

'Home Office'

In [129]:
# Question 124: Find segment with highest average discount.
df.groupby("Segment")["Discount"].mean().idxmax()

'Corporate'

In [130]:
# Question 125: Find segment with lowest average discount.
df.groupby("Segment")["Discount"].mean().idxmin()

'Home Office'

In [131]:
# Question 126: Find top 5 customers by sales in each segment.

In [132]:
# Question 127: Find top 5 customers by profit in each segment.

In [133]:
# Question 128: Find top 5 loss-making customers.

In [149]:
# Question 129: Find customers with largest order value.
df.groupby("Customer ID")['Sales'].idxmax()

Customer ID
AA-10315    5198
AA-10375    2263
AA-10480    7705
AA-10645    8009
AB-10015    8802
            ...
XP-21865    9041
YC-21895    3070
YS-21880    6209
ZC-21910    5188
ZD-21925    3814
Name: Sales, Length: 793, dtype: int64

In [150]:
# Question 130: Find customers with smallest order value.
df.groupby("Customer ID")['Sales'].idxmin()

Customer ID
AA-10315    5199
AA-10375    1978
AA-10480    3109
AA-10645    6039
AB-10015    8222
            ...
XP-21865    5781
YC-21895    2688
YS-21880    1393
ZC-21910    4101
ZD-21925      18
Name: Sales, Length: 793, dtype: int64

In [ ]:
# Question 131: Find number of unique customers each year.

In [ ]:
# Question 132: Find retention rate year over year.

In [ ]:
# Question 133: Find churned customers (present last year, not this year).

In [ ]:
# Question 134: Find new customers (present this year, not last year).

In [ ]:
# Question 135: Find sales contribution of top 10 customers.

In [ ]:
# Question 136: Find profit contribution of top 10 customers.

In [ ]:
# Question 137: Find customers who purchased from all categories.

In [ ]:
# Question 138: Find customers who purchased only furniture.

In [ ]:
# Question 139: Find customers who purchased only technology.

In [ ]:
# Question 140: Find customers who purchased only office supplies.